@mixin tab {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

#set-limit {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tab {
    justify-content: center;
    align-items: center;
  }

  @include pc {
    width: 400px;
  }

  & > label {
    margin-bottom: 15px;
  }

  & > input {
    width: 100%;
  }
}
