@charset "utf-8";

@mixin tab {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

.edit-task {
  width: calc(100% - 30px);
  margin: 0 auto;

  @include pc {
    width: 1000px;
  }
}

.edit-task-form {
  color: #555555;
}

.edit-task-title,
.edit-task-detail {
  width: 100%;
  margin-bottom: 25px;
  @include pc {
    width: 400px;
  }
}

.delete-task-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 100%;
  height: 40px;
  margin: 25px 0;
  border-radius: 5px;
  @include pc {
    width: 80px;
    margin-right: 15px;
  }
}

.edit-task-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 100%;
  height: 40px;
  border-radius: 5px;

  @include pc {
    width: 80px;
  }
}

.error-message {
  color: #ff3333;
}
