@charset "utf-8";

@mixin tab {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

.edit-list {
  width: calc(100% - 30px);
  margin: 0 auto;
  @include pc {
    width: 1000px;
  }
}

.edit-list-form {
  color: #555555;
  width: 100%;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;

  @include tab {
    width: 100%;
    box-sizing: border-box;
  }
}

.delete-list-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;

  @include tab {
    width: 100%;
    margin: 0 auto 15px;
  }
}

.edit-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;

  @include tab {
    width: 100%;
    margin: 0 auto;
  }
}

.error-message {
  color: #ff3333;
}
