@charset "utf-8";

@mixin tab {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.new-task {
  width: 1000px;
  margin: 0 auto;

  @include tab {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}

.new-task-form {
  color: #555555;
}

.new-task-select-list,
.new-task-title,
.new-task-detail {
  width: 400px;
  margin-bottom: 25px;
  @include tab {
    width: 100%;
  }
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;

  @include tab {
    width: 100%;
  }
}

.error-message {
  color: #ff3333;
}
