@charset "utf-8";

@mixin tab {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.signin {
  width: 500px;
  margin: 0 auto;

  @include tab {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}

.signin-form {
  margin: 25px 0;
}

.email-label,
.password-label {
  color: #555555;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signin-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;

  @include tab {
    width: 100%;
  }
}

.error-message {
  color: #ff3333;
}
